spring:
  config:
    activate:
      on-profile: prod

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,loggers,prometheus,env
  endpoint.health.show-details: never
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: http://127.0.0.1:4318/v1/traces
  tracing:
    export:
      otlp:
        enabled: true #enable exporting SPANS
    sampling:
      probability: 1.0
  prometheus:
    metrics:
      export:
        enabled: true

server:
  compression: #if client sends Accept-Encoding: gzip, automatically get this feature during response
    enabled: true
    min-response-size: 1024
    mime-types:
      - application/json